body {
  background-color: white;
  width: 800px;
  Margin: auto;
  font-size: 12px;
  color: darkgrey;
}

div {
  margin-bottom: 15px;
}  

input[type=text] {
  width:400px;
}

input[type=tel] {
  width:400px;
}

input[type=email] {
  width:400px;
}

h1.title {
  color: navy;
  margin-left: 20px;
  font-size: 48px;
}

footer{
  background-color:black;
  color:white;
  font-size: 10px;
  /* Next 4 lines: align bottom-right */
  position: absolute;
 /* bottom: 10px; */
  right: 0px;
  width: 150px; 
}

ul.navigation {
    background-color: blue;
    list-style-type: none;
    display: flex;
    text-align: left;
    padding-left: 0px;
    background-color: white;
}

ul.navigation li > a {
    color:white;
    text-decoration: none;
    font-size: 20px;
    border-style: solid;
    border-color: black;
    margin-right: 5px;
    background-color: blue;
}

.error {
color:red;
}

.webshop-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.center {
  margin: auto;
  text-align: center;
}
